body {
  background: #3b1f0b;
  color: white;
  font-family: Arial;
  text-align: center;
}
.box {
  margin: 40px auto;
  padding: 20px;
  width: 90%;
  max-width: 350px;
  background: #5c2d0c;
  border-radius: 15px;
}
input, textarea {
  width: 90%;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  border: none;
}
button {
  padding: 10px 20px;
  background: chocolate;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}
.hide { display: none; }
